#root {
  padding: 1.5rem;
  height: 100svh;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* CSS for rainbow background */
.rainbow-bg {
  background: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-size: 400% 400%;
  animation: rainbowAnimation 15s ease infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  animation: rotate 4s linear infinite;
}

/* Animation to create a moving rainbow effect */
@keyframes rainbowAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
